@page "/Inventario"

@* <NavigationLock ConfirmExternalNavigation="@changed" />
<NavigationLock OnBeforeInternalNavigation="BeforeInternalNavigation" /> *@




@* Opcional: Botón para alternar la visibilidad de la tabla *@
@using BakAppDiego.Components.Dialogs

@inject DialogInterface DialogoService
<PopUpConfirmar @ref="PopUp" />

@if (isTableVisible)
{
    <body style="background-color: transparent;">
        <div class="container" style="background-color: transparent;">
            <div class="row justify-content-center g-1" style="background-color: transparent;">
                <!-- Título principal -->
                <div class="col-md-12">
                    <div class="card bg-transparent border-0">
                        <div class="card-body text-center">
                            <h1 class="display-5" style="color: #E8EDE7;">Inventario Activo</h1>
                        </div>
                    </div>
                </div>
                <!-- Resto de las cartas -->
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="card text-bg-primary h-100" style="--bs-card-border-color: #036280;">
                        <div class="card-header" style="background-color: #81BECE">ID</div>
                        <div class="card-body" style="background-color: #81BECE; ">
                            <h5 class="card-title" style="background-color: #81BECE ">@inventarioItem.Id</h5>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="card text-bg-primary h-100" style="--bs-card-border-color: #036280;">
                        <div class="card-header" style="background-color: #81BECE">Fecha</div>
                        <div class="card-body" style="background-color: #81BECE; ">
                            <h5 class="card-title" style="background-color: #81BECE ">@inventarioItem.Fecha_Inventario.ToShortDateString()</h5>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="card text-bg-primary h-100 " style="--bs-card-border-color: #036280;">
                        <div class="card-header" style="background-color: #81BECE">Empresa</div>
                        <div class="card-body" style="background-color: #81BECE; ">

                            <h5 class="card-title" style="background-color: #81BECE ">@inventarioItem.Nombre_Empresa</h5>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="card text-bg-primary h-100" style="--bs-card-border-color: #036280;">
                        <div class="card-header" style="background-color: #81BECE">Sucursal</div>
                        <div class="card-body" style="background-color: #81BECE; ">
                            <h5 class="card-title" style="background-color: #81BECE ">@inventarioItem.Nombre_Sucursal</h5>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="card text-bg-primary h-100" style="--bs-card-border-color: #036280;">
                        <div class="card-header" style="background-color: #81BECE">Bodega</div>
                        <div class="card-body" style="background-color: #81BECE; ">
                            <h5 class="card-title" style="background-color: #81BECE "> @inventarioItem.Nombre_Bodega</h5>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="card text-bg-primary h-100" style="--bs-card-border-color: #036280;">
                        <div class="card-header" style="background-color: #81BECE">Inventariado</div>
                        <div class="card-body" style="background-color: #81BECE; ">
                            <h5 class="card-title" style="background-color: #81BECE ">@inventarioItem.NombreInventario</h5>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="card text-bg-primary h-100" style="--bs-card-border-color: #036280;">
                        <div class="card-header" style="background-color: #81BECE">Funcionario Encargado</div>
                        <div class="card-body" style="background-color: #81BECE; ">
                            <h5 class="card-title" style="background-color: #81BECE ">@inventarioItem.NombreFuncionario</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* <table class="table-fill">
            <tbody class="table-hover">
                @if (iniciado)
                
                {
                <tr>
                        <th colspan="2" style="text-align: center; vertical-align: middle;">
                              <h3>Inventario Activo</h3>
                            
                    </th>
                        

                </tr> 
                <tr>
                        <td class="text-left"> Id:  @inventarioItem.Id</td> 
                        
                        <td class="text-left"> Fecha: @inventarioItem.Fecha_Inventario.ToShortDateString()</td>

                </tr>
               
                    <tr>
                        <td class="text-left">Empresa : @inventarioItem.Nombre_Empresa</td>
                        <td class="text-left">Sucursal : @inventarioItem.Nombre_Sucursal</td>
                    </tr>

                    <tr>
                        <td class="text-left">Bodega : @inventarioItem.Nombre_Bodega</td>
                        <td class="text-left">Nombre inventario : @inventarioItem.NombreInventario</td>
                    </tr>

                    <tr>
                        <td class="text-left">Funcionario : @inventarioItem.NombreFuncionario</td>
                    </tr>

                    

                
                
                
                
                
                
                
                }
                
            </tbody>
        </table> *@
    </body>
    <div class="footer">
        <button class="button-19" style="bottom: 20px; " @onclick="boton_inventariado">Crear inventariado</button>

    </div>

}

else
{

    <div class="footer">
        <button class="button-19" style="bottom: 20px; " @onclick="boton">Ingresar inventario</button>

    </div>



}


